body {
    background-image: url("../images/ignasi_pattern_s.png");
    background-color: #cccccc;
}

h1 {
    color: #4aaaa5;
    font-family: "Times", "serif";
    font-size: 60px;
    font-weight: 800;
}

.navbar-brand {
    font-family: "Times", "serif";
    font-size: 30px;
    font-weight: 800;
}

.img-fluid {
    padding: 10px;
}

.jumbotron {
    background-color: white;
    margin-top: 50px;
}

.btn {
    background-color: #4aaaa5;
    color: white;
}